.AllStoresTable {
  width: 50rem;
  min-width: 26rem;
  margin: 2rem;
}

.AllStoresTableRow:hover {
  background-color: #D0E9FF;
  cursor: pointer;
}

.AllStoresTableRow_isProfitable {
  color: green;
}
.AllStoresTableRow_isNotProfitable {
  color: red;
}